services:
  scanonlocal:
    image: wlucasdc/scanonlocal:v0.1
    container_name: scanonlocal
    volumes:
      - ${PROJECTS_DIR:-./projects}:/app/projects:ro
      - ${REPORTS_DIR:-./reports}:/app/reports
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker
    environment:
      - DOCKER_HOST=unix:///var/run/docker.sock
    privileged: true
    network_mode: host
    restart: "no"
    init: true
    deploy:
      resources:
        limits:
          cpus: '2.0'
          memory: 1G
        reservations:
          cpus: '0.5'
          memory: 256M
