services:
  scanonlocal:
    image: wlucasdc/scanonlocal:latest
    container_name: scanonlocal

    volumes:
      - ${PROJECTS_DIR}:/app/projects:ro
      - ${REPORTS_DIR}:/app/reports
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker

    environment:
      - PROJECTS_DIR=/app/projects
      - REPORTS_DIR=/app/reports
      - DOCKER_HOST=unix:///var/run/docker.sock
    privileged: true
    network_mode: host
    restart: "no"
    deploy:
      resources:
        limits:
          cpus: '2.0'
          memory: 1G
        reservations:
          cpus: '0.5'
          memory: 256M
